<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhruv.getplaced">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Company.CompanyLogin" />
        <activity android:name=".Company.CompanyHome" />
        <activity android:name=".Student.StudentHome" />
        <activity android:name=".Company.AddOffer" />
        <activity android:name=".Student.StudentLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student.StudentRegistration" />
        <activity
            android:name=".Student.comitemclick"
            android:label="@string/title_activity_comitemclick"
            android:theme="@style/AppTheme" />
        <activity android:name=".Company.OfferDetails" />
        <activity android:name=".Company.StudentProfileForCompany" />
        <activity
            android:name=".Resume.ResumeMaker"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Resume.ResumeSettings" />
        <activity android:name=".Company.CompanyNewUser"></activity>
    </application>

</manifest>