<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dhruv.getplaced">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".companylogin" />
        <activity android:name=".companyhome" />
        <activity android:name=".StudentHome" />
        <activity android:name=".AddOffer" />
        <activity android:name=".studentlogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentRegistration" />
        <activity
            android:name=".comitemclick"
            android:label="@string/title_activity_comitemclick"
            android:theme="@style/AppTheme" />
        <activity android:name=".StudentRegistration" />
        <activity android:name=".OfferDetails" />
        <activity android:name=".StudentProfileForCompany" />
        <activity android:name=".ResumeMaker" />
    </application>

</manifest>